{% extends 'blogapp/base.html' %}
{% block body_block %}
{% load static %}

<section class="rn-search-form-big rn-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                
                </div>
            </div>
        </div>
</section>
    <!-- Preloader -->
<div id="preloader-wrapper">
    <div class="preloader-wave-effect"></div>
    <div class="preloader-text">Loading</div>
</div>
<!-- Breadcrumb -->
<!-- <section>
    <div class="container">
        <div class="page-header text-center py-md">
            <h1>Covid-19 Outbreak in Nigeria</h1>
            <p class="update-date"><em><span>Live</span> - Updates on every 10 minutes</em></p>
        </div>
    </div>
</section> -->

<!-- Corona news -->
<section class="corona-updates-section style-2 mt-0 py-lg">
    <div class="container">
        <div class="page-header text-center">
            <h1>Covid-19 Outbreak in Nigeria</h1>
            <p class="update-date"><em><span>Live</span> - Updates on every 10 minutes</em></p>
        </div>
        <div class="corona-updates-inner">
            <div class="row">
                <div class="col-md-6 col-lg-3 statistics-card card-info" data-aos="fade-up">
                    <div class="statistics-card-inner">
                        <h3 class="data-header">{{ confirmed }}</h3>
                        <p>Total cases</p>
                        <img src="{% static 'blogapp/assetss/img/shapes/1.png' %}" alt="Image not found" class="img-fluid shape">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 statistics-card card-danger" data-aos="fade-up" data-aos-delay="50">
                    <div class="statistics-card-inner">
                        <h3 class="data-header">{{ death }}</h3>
                        <p>Total deaths</p>
                        <img src="{% static 'blogapp/assetss/img/shapes/1.png' %}" alt="Image not found" class="img-fluid shape">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 statistics-card card-success" data-aos="fade-up" data-aos-delay="100">
                    <div class="statistics-card-inner">
                        <h3 class="data-header">{{ discharged }}</h3>
                        <p>Total recovered</p>
                        <img src="{% static 'blogapp/assetss/img/shapes/1.png' %}" alt="Image not found" class="img-fluid shape">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 statistics-card card-warning" data-aos="fade-up" data-aos-delay="150">
                    <div class="statistics-card-inner">
                        <h3 class="data-header">{{ active }}</h3>
                        <p>Active cases</p>
                        <img src="{% static 'blogapp/assetss/img/shapes/1.png' %}" alt="Image not found" class="img-fluid shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Corona country statistics -->
<section class="corona-country-stats-section pb-lg">
    <div class="container">
        <div class="section-header text-center mb-4 mb-md-5">
            <h2 class="heading">Live Statistics</h2>
        </div>
        <table  class="table table-striped table-hover country-stats-table">
            <thead>
                <tr>
                    <th>State</th>
                    <th>Confirmed Cases</th>
                    <th>Admitted Cases</th>
                    <th>Total Recovered</th>
                    <th>Total Deaths</th>
                </tr>
            </thead>
            <tbody>
                {% for covid in covids %}
                <tr>
                    <td>{{ covid.state }}</td>
                    <td>{{ covid.confirmedCases }}</td>
                    <td>{{ covid.casesOnAdmission }}</td>
                    <td>{{ covid.discharged }}</td>
                    <td>{{ covid.death }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}